NDIF_API_KEY=<API KEY>
HF_TOKEN=<Huggingface Token>


###### OPTIONAL ######

# CONFIG=<CONFIG TYPE>
# REMOTE=false # to use local model execution
# NDFI_API_HOST=<NDIF BACKEND HOST>
# INFLUXDB_ADMIN_TOKEN=<INFLUXDB API KEY>
# INFLUXDB_ORG=<INFLUXDB ORG>
# INFLUXDB_BUCKET=<TELEMETRY BUCKET NAME>
# INFLUXDB_PORT=< PORT>
